In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'../data/GTZAN/names_dataframe_full.csv')
df

,filename,Artist,Title,genre
0,blues.00000.wav,John Lee Hooker,"One Bourbon, One Scotch And One Beer",blues
1,blues.00001.wav,John Lee Hooker,I'm In The Mood For Love,blues
2,blues.00002.wav,John Lee Hooker,Think Twice Before You Go,blues
3,blues.00003.wav,John Lee Hooker,I'm Bad Like Jesse James,blues
4,blues.00004.wav,John Lee Hooker,Walkin’ The Boogie,blues
...,...,...,...,...
995,rock.00095.wav,The Stone Roses,Bye Bye Bad Man,rock
996,rock.00096.wav,The Stone Roses,(Song For My) Sugar Spun Sister,rock
997,rock.00097.wav,The Stone Roses,Made Of Stone,rock
998,rock.00098.wav,The Stone Roses,Shoot You Down,rock
999,rock.00099.wav,The Stone Roses,This Is The One,rock

In [3]:
set(df.genre)

{'blues',
 'classical',
 'country',
 'disco',
 'hiphop',
 'jazz',
 'metal',
 'pop',
 'reggae',
 'rock'}

In [4]:
df['genre'].value_counts()

blues        100
classical    100
country      100
disco        100
hiphop       100
jazz         100
metal        100
pop          100
reggae       100
rock         100
Name: genre, dtype: int64

In [5]:
print(df[df['Artist'].isna()])
indices = df[df['Artist'].isna()].index.sort_values(ascending=False)

                filename Artist Title      genre
159  classical.00059.wav    NaN   NaN  classical
161  classical.00061.wav    NaN   NaN  classical
162  classical.00062.wav    NaN   NaN  classical
230    country.00030.wav    NaN   NaN    country
247    country.00047.wav    NaN   NaN    country
..                   ...    ...   ...        ...
851     reggae.00051.wav    NaN   NaN     reggae
853     reggae.00053.wav    NaN   NaN     reggae
862     reggae.00062.wav    NaN   NaN     reggae
879     reggae.00079.wav    NaN   NaN     reggae
890     reggae.00090.wav    NaN   NaN     reggae

[63 rows x 4 columns]

In [6]:
no_artist = df[df['Artist'].isna()]
no_artist

                filename Artist Title      genre
159  classical.00059.wav    NaN   NaN  classical
161  classical.00061.wav    NaN   NaN  classical
162  classical.00062.wav    NaN   NaN  classical
230    country.00030.wav    NaN   NaN    country
247    country.00047.wav    NaN   NaN    country
..                   ...    ...   ...        ...
851     reggae.00051.wav    NaN   NaN     reggae
853     reggae.00053.wav    NaN   NaN     reggae
862     reggae.00062.wav    NaN   NaN     reggae
879     reggae.00079.wav    NaN   NaN     reggae
890     reggae.00090.wav    NaN   NaN     reggae

[63 rows x 4 columns]

In [7]:
no_artist = no_artist.dropna(subset=['Title'])
no_artist

              filename Artist                        Title    genre
202  country.00002.wav    NaN        I Wish I Had A Nickel  country
231  country.00031.wav    NaN                  Come On Joe  country
238  country.00038.wav    NaN               Our Last Night  country
247  country.00047.wav    NaN   I Found My Girl In The USA  country
357    disco.00057.wav    NaN               Auld Lang Syne    disco
710      pop.00010.wav    NaN         I'll Be Watching You      pop
714      pop.00014.wav    NaN         I'll Be Watching You      pop
783      pop.00083.wav    NaN                 American Pie      pop

In [12]:
"""df.iloc[202].Artist = 'Hank Williams'
df.iloc[231].Artist = 'George Strait'
df.iloc[238].Artist = 'Donna Fargo & Johnny Rodriguez'
df.iloc[357].Artist = 'Boney M.'
df.iloc[710].Artist = 'Robert Downey Jr.'
df.iloc[710].Title = 'Every Breath You Take'
df.iloc[714].Artist = 'The Police'
df.iloc[714].Title = 'Every Breath You Take'
df.iloc[783].Artist = 'Madonna'"""

"df.iloc[202].Artist = 'Hank Williams'\ndf.iloc[231].Artist = 'George Strait'\ndf.iloc[238].Artist = 'Donna Fargo & Johnny Rodriguez'\ndf.iloc[357].Artist = 'Boney M.'\ndf.iloc[710].Artist = 'Robert Downey Jr.'\ndf.iloc[710].Title = 'Every Breath You Take'\ndf.iloc[714].Artist = 'The Police'\ndf.iloc[714].Title = 'Every Breath You Take'\ndf.iloc[783].Artist = 'Madonna'"

In [9]:
df[df['Artist'].isna()]

                filename Artist                        Title      genre
159  classical.00059.wav    NaN                          NaN  classical
161  classical.00061.wav    NaN                          NaN  classical
162  classical.00062.wav    NaN                          NaN  classical
230    country.00030.wav    NaN                          NaN    country
247    country.00047.wav    NaN   I Found My Girl In The USA    country
..                   ...    ...                          ...        ...
851     reggae.00051.wav    NaN                          NaN     reggae
853     reggae.00053.wav    NaN                          NaN     reggae
862     reggae.00062.wav    NaN                          NaN     reggae
879     reggae.00079.wav    NaN                          NaN     reggae
890     reggae.00090.wav    NaN                          NaN     reggae

[74 rows x 4 columns]

In [10]:
print(df[df['Title'].isna()])
indices = df[df['Title'].isna()].index.sort_values(ascending=False)

for i in indices:
  df.drop(index=i, inplace=True)

print(df[df['Title'].isna()])

                filename             Artist Title      genre
4        blues.00004.wav    John Lee Hooker   NaN      blues
82       blues.00082.wav   Buckwheat Zydeco   NaN      blues
83       blues.00083.wav   Buckwheat Zydeco   NaN      blues
84       blues.00084.wav   Buckwheat Zydeco   NaN      blues
104  classical.00004.wav            JS Bach   NaN  classical
..                   ...                ...   ...        ...
853     reggae.00053.wav                NaN   NaN     reggae
862     reggae.00062.wav                NaN   NaN     reggae
865     reggae.00065.wav       Dennis Brown   NaN     reggae
879     reggae.00079.wav                NaN   NaN     reggae
890     reggae.00090.wav                NaN   NaN     reggae

[89 rows x 4 columns]

## Scrape lyrics for all songs

In [7]:
from lyricsgenius import Genius